*{
    background-color: black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Asimovian", sans-serif;
}

.main-heading{
    text-align: center;
    margin: 20px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.board{
    position: relative;
    height: 80vh;
    width: 30vw;
    background-color: rgb(29, 30, 30);
    border: 2px solid black;
   
}

h3{
    background-color: rgb(56, 56, 229);
    color: white;
    padding: 10px;
    margin: 10px;
}

.items{
    padding: 5px;
    margin: 10px;
    
}

.add-button{
    height: 25px;
    width: 100px;
    color: black;
    background-color: white;
    margin: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.del-board{
    height: 50px;
    width: 100vw;
    background-color: rgb(51, 32, 32);
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete{
    background-color: rgb(184, 0, 0);
    height: 40px;
    width: 90vw;
    margin: 10px;
    text-align: center;
    color: black;
    font-size: 30px;
}